doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/example/example.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper

   

            .page__buffer

                .container
                    h1 Заголовок h1 55px
                    h2 Заголовок h2 44px 
                    h3 Заголовок h3 39px
                    h4 Заголовок h4 24px
                    h5 Заголовок h5 20px

                    br
                    br

                    button.button.button-default button-default
                    br
                    br
                    button.button.button-white button-white
                    br
                    br
                    button.button.button-black button-black
                    br
                    br

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')