*{
   box-sizing: border-box;

   &:before, &:after{
      box-sizing: inherit;
   }
}

html{
   font: 400 14px / 1.4 'lato', sans-serif;
   color: #000;
   background: #E5E5E5;
}

html, body {
   height: 100%;
}

img{
   max-width: 100%;
   height: auto;
   vertical-align: middle;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	line-height: 1.25;
}

h1{
   font-size: rem(55px);
}

h2{
	font-size: rem(44px);
}

h3{
	font-size: rem(39px);
}

h4{
   font-size: rem(24px);
}

h5{
   font-size: rem(20px);
}

p{
   margin-top: rem(15px);
   margin-bottom: rem(15px);

   &:first-child{margin-top: 0;}
   &:last-child{margin-bottom: 0;}
}

a{
   color: #000;
   
   outline: 0;
   transition: 0.5s;
   text-decoration: none;

   @include hover{
      transition: 0.5s;
   }
}

input{
   width: 100%;
   outline: 0;
   transition: 0.5s;

   &:focus {
      transition: 0.5s;
   }
}

textarea{

   resize: none;
   outline: 0;
   border: 0;
   background: 0;
   transition: 0.5s;
   border-radius: 0;

   &:focus {
      transition: 0.5s;
   }
}

::-webkit-input-placeholder{
   
}

::-moz-placeholder{
   
}
:-moz-placeholder{
   
}

:-ms-input-placeholder{
  
}

.container{
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   max-width: 1220px;
   height: 100%;
}