// GUI stylies of the project
// For example, styles of the links, buttons and so on.


.button{
	display: inline-flex;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 1;
	padding: rem(19px) rem(42px);
	color: inherit;
	line-height: 1;
	text-decoration: none;
	outline: 0;
	border: 0;
	background-color: transparent;
	overflow: hidden;
	white-space: nowrap;
	transition: 0.5s;
	border-radius: 3px;
	border: 0;

	@include hover{
		transition: 0.5s;
		cursor: pointer;
	}
}

.button-default{
	color: #fff;
	font-size: rem(16px);
	text-transform: uppercase;
	background: #E57400;
	border-radius: 3px;
}

.button-white{
	padding: rem(16px) rem(28px);
	
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #F2F2F2;
}

.button-black{
	padding: rem(14px) rem(56px);
	
	color: #262626;
	font-weight: bold;
	font-size: rem(12px);
	text-transform: uppercase;
	border: 2px solid #262626;
}

