// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

@mixin include-font($font-family, $font-path, $font-name, $font-weight, $font-style){
    font-family: $font-family;
    src: url($font-path + '/' + $font-name + '.ttf') format('ttf'),
          url($font-path + '/' + $font-name + '.eot?#iefix') format('embedded-opentype'),
          url($font-path + '/' + $font-name + '.woff') format('woff'),
          url($font-path + '/' + $font-name + '.svg#' + $font-name) format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin hover {
  @media only screen and (min-width: 1025px) {
    &:hover{
      @content;
    }
  }
}

$browser-context: 14;

@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin max1600 {
  @media only screen and (max-width: 1600px) {
    @content;
  }
}

@mixin max1360 {
  @media only screen and (max-width: 1360px) {
    @content;
  }
}

@mixin max1300 {
  @media only screen and (max-width: 1300px) {
    @content;
  }
}


@mixin max1280 {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

@mixin max1200 {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin max1171 {
  @media only screen and (max-width: 1171px) {
    @content;
  }
}

@mixin max1170 {
  @media only screen and (max-width: 1170px) {
    @content;
  }
}

@mixin max1024 {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin max992 {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin max767 {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin max639 {
  @media only screen and (max-width: 639px) {
    @content;
  }
}

@mixin max480 {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
